requests==2.31.0
beautifulsoup4==4.12.2
langchain-openai
langchain-core
pytesseract
Pillow
cairosvg
selenium
PyPDF2
pysigma
rich
nltk
matplotlib==3.7.2
seaborn==0.12.2
numpy
pandas
reportlab==4.0.4
pyyaml
flask==2.3.3
flask-cors==6.0.0
